<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
  <meta charset=" UTF-8"/>
  <title>Title</title>
</head>

<body>
<a href="/add">Add a Movie</a><br/>

<table>

  <tr>
    <th>Movie Title &nbsp  &nbsp</th>
    <th>Movie year  &nbsp  &nbsp</th>
    <th> Movie genre  &nbsp  &nbsp</th>
    <th>Movie description  &nbsp  &nbsp</th>
    <td>Actions</td>

  </tr>

  <tr th:each="movie:${movies}">
    <td th:text="${movie.m_title}"></td>
    <td th:text="${movie.m_year}"></td>
    <td th:text="${movie.m_genre}"></td>
    <td th:text="${movie.m_desc}"></td>

    <td>
      <a th:href="@{/update/{m_id} (m_id=${movie.m_id})}"> Update Movie &nbsp  &nbsp</a>
      <a th:href="@{/viewmovie/{m_id} (m_id=${movie.m_id})}"> View Detail &nbsp  &nbsp</a>
      <a th:href="@{/delete/{m_id} (m_id=${movie.m_id})}">delete movie &nbsp  &nbsp</a>
    </td>


  </tr>
</table>


</body>
</html>
